@font-face {
    font-family: "Noto Sans";
    src: url("Fonts/Noto_Sans/NotoSans-Regular.ttf");
}

/* Styling the general body elements */
body{
    font-family: "Noto Sans";
}

/* ================================================ GENERAL MENU ===================================== */
/* Styling the pokedex id*/
#pokedex{
    width: 500px;
    height: 700px;
    background-color: lightblue;
    margin: 0 auto;
    overflow-y: scroll;
    border: 2px solid black;
}

/* Styling the paragraph elements on the webpage */
p{
    text-align: center;
}

/* Editing the table that in essence makes up the entire pokedex */
table{
    width: 100%;
    background-color: lightblue;
}

/* Editing the buttons that will represent the pokedex entries for each pokemon */
td button{
    width: 100%;
    height: 125px;
    border: 4px solid white;
    border-radius: 8px;

}

td button:hover{
    background-color: rgba(211, 211, 211, 0.5);
}


/* Editing the scrollbar of the pokedex to make it look a little bit more techy */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: lightblue;
}

::-webkit-scrollbar-thumb{
    background: lightgray;
}

/* Centering the input field */
input{
    margin: 0 auto;
    display: block;
}

#buttonSprite{
    width: 70px;
    height: auto;
}

#banner{
    text-align: left;
    padding: 5px 0;
    position: relative;
    top: -10px;
    color: black;
    font-family: "Noto Sans";
    font-weight: bold;
}

/* ============================================= MENU SPECIFIC TO EACH POKEMON ================================================ */
#back{
    border: 4px solid white;
    width: 70px;
    height: 40px;
    margin-left: 15px;
    border-radius: 8px;
    top: 0;
}

#back:hover{
    background-color: rgba(211, 211, 211, 0.5);
}


#specific_pokemon{
    display: none;
}

#pokedex-number-name{
    text-decoration: underline;
}

#pokemon-info, #base-stats{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
}

#pokemon-info td, #base-stats td{
    border: 2px solid black;
}

#sprite {
    width: 200px;
    height: 200px;
}

#spriteImage {
    width: 100%;
    height: auto;
}

#label, #health-bar, #attack-bar, #defense-bar, #special-attack-bar, #special-defense-bar, #speed-bar{
    display: inline-block;
}

#label{
    width: 40%;
    text-align: left;
    padding-left: 10px;
}
#health-bar, #attack-bar, #defense-bar, #special-attack-bar, #special-defense-bar, #speed-bar{
    width: 55%;
}

#health-bar-diagram, #attack-bar-diagram, #defense-bar-diagram, #special-attack-bar-diagram, #special-defense-bar-diagram, #speed-bar-diagram {
    border-radius: 4px;
}