@font-face {
    font-family: "Fira Sans";
    src: url("Fonts/fira-sans-v11-latin/fira-sans-v11-latin-regular.ttf");
}

/* Styling the general body elements */
body{
    font-family: "Fira Sans";
}

/* ================================================ GENERAL MENU ===================================== */
/* Styling the pokedex id*/
#pokedex{
    width: 525px;
    height: 700px;
    background-color: lightblue;
    margin: 0 auto;
    overflow-y: scroll;
    border: 2px solid black;
}

/* Styling the paragraph elements on the webpage */
p{
    text-align: center;
}

/* Editing the table that in essence makes up the entire pokedex */
table{
    width: 100%;
    background-color: lightblue;
}

/* Editing the buttons that will represent the pokedex entries for each pokemon */
td button{
    width: 100%;
    height: 125px;
    border: 4px solid white;
    border-radius: 8px;

}

td button:hover{
    background-color: rgba(211, 211, 211, 0.5);
}


/* Editing the scrollbar of the pokedex to make it look a little bit more techy */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: lightblue;
}

::-webkit-scrollbar-thumb{
    background: lightgray;
}

/* Centering the input field */
input{
    margin: 0 auto;
    display: block;
    font-family: "Fira Sans";
}

/* Setting the attributes for the sprite that appears on each button */
#buttonSprite{
    width: 70px;
    height: auto;
}

/* The national dex number for each pokemon is located in the top left of the button */
#banner{
    text-align: left;
    padding: 5px 0;
    position: relative;
    top: -10px;
    color: white;
    text-shadow: -1px 1px 0 black,
                  1px 1px 0 black,
                  1px -1px 0 black,
                  -1px -1px 0 black;
    font-family: "Fira Sans";
    font-weight: bold;
}

/* ============================================= MENU SPECIFIC TO EACH POKEMON ================================================ */
#back{
    border: 4px solid white;
    width: 70px;
    height: 40px;
    margin-left: 15px;
    border-radius: 8px;
    top: 0;
}

#back:hover{
    background-color: rgba(211, 211, 211, 0.5);
}


#specific_pokemon{
    display: none;
}


#pokemon-info, #base-stats{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
}

#sprite {
    width: 200px;
    height: 200px;
}

#spriteImage {
    width: 100%;
    height: auto;
}

/* Setting the colours for the different types */
#type1, #type2{
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    margin-right: 4px;
    color: white;
    text-transform: uppercase;
}

#typingLabel, #abilitiesLabel, #heightLabel, #weightLabel, #regionLabel, #pokedex-number{
    text-align: right;
    font-weight: bold;
}

#ability1, #ability2{
    margin: 0;
}

#label, #value-hp, #value-attack, #value-defense, #value-special-attack, #value-special-defense, #value-speed,
#health-bar, #attack-bar, #defense-bar, #special-attack-bar, #special-defense-bar, #speed-bar, #value-total {
    display: inline-block;
}

#value-total{
    font-weight: bold;
}

#label{
    width: 30%;
    text-align: right;
    padding-right: 20px;
}

#value-hp, #value-attack, #value-defense, #value-special-attack, #value-special-defense, #value-speed {
    width: 10px;
    padding-right: 15px;
}

#health-bar, #attack-bar, #defense-bar, #special-attack-bar, #special-defense-bar, #speed-bar{
    width: 55%;
}

#health-bar-diagram, #attack-bar-diagram, #defense-bar-diagram, #special-attack-bar-diagram, #special-defense-bar-diagram, #speed-bar-diagram {
    border-radius: 4px;
}
