/* Initializing the font that will be used for the website */
@font-face {
    font-family: "Fira Sans";
    src: url("Fonts/fira-sans-v11-latin/fira-sans-v11-latin-regular.ttf");
}

/* ===================================================================== NEXT STEPS ============================================================= */
/*
   - Add an about us section
   - Add a "How it works" section
   - Add a footer with contact info
   - Add a darker, different background for the welcome and who we are sections mayhaps?
   */

/* Setting the padding and margins to 0 so that elements that should cover the whole screen are not interrupted by whitespace 
on the edges of the screen */
* {
    margin: 0;
    padding: 0;
}

/* Setting the scroll behaviour for the webpage (page will scroll smoothly to the div when the appropriate nav link is clicked) rather
than just blinking to it */
html{
    scroll-behavior: smooth;
}

/* Setting the font that will be used in the website along with the background image */
body{
    font-family: "Fira Sans";
    background-image: url("Images/Website\ Background.png");
}

/* Setting the scroll bar elements for the website */
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: lightblue;
}

::-webkit-scrollbar-thumb{
    background: black;
}

/* Working on the navigation elements */
#navigation{
    position: fixed;
    width: 1%;
    background-color: transparent;
    margin-top: 1%;
}

/* Setting some styles for the td elements in the nav table */
#navigation td{
    text-align: center;
    width: 40px;
    text-align: center;
    color: red;
}

/* Setting the captions to hidden initially */
#welcome-navigation-caption, #intro-navigation-caption, #how-it-works-navigation-caption, #footer-navigation-caption{
    display: none;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;

}

/* Adding an animation here, when the pokeball is hovered, it does a 180 degree spin */
#welcome-navigation img, #intro-nav img, #how-it-works-nav img, #footer-nav img{
    transition: transform .2s ease-in-out;
}

#welcome-navigation img:hover, #intro-nav img:hover, #how-it-works-nav img:hover, #footer-nav img:hover{
    transform: rotate(180deg);
}

/* ================================================ GENERAL MENU ===================================== */

/* A quick welcome section for the user when they load the webpage */
.welcome{
    width: 50%;
    float: left;
    background-color: black;
    margin-left: 10%;
    text-align: center;
    height: 600px;
    margin-top: 67.5px;
    display: block;
}

/* Styling all the text element in the welcome section of the website */
.welcome h1, .welcome h3{
    color: white;
}

.welcome h1{
    padding-top: 100px;
    font-size: 96px;
    color :yellow;
}

.welcome h3{
    padding-top: 36px;
    font-size: 36px;
}

/* Main consists of the main components of the website, the pokedex */
.main{
    margin-left: 2%;
    width: 38%;
    display: inline-block;
    padding-top: 5px;

}

.container{
    width: 525px;
    height: 734px;
    overflow: hidden;
    position: relative;
}

/* Styling the covers for the pokedex */
#up, #down{
    width: 100%;
    height: 50%;
    transition: all 1s ease-out;
    position: relative;
}

#up{
    z-index: 3;
    background-image: url("Images/Pokedex\ Top.png");
}

#down{
    background-image: url("Images/Pokedex\ Bottom.png");
    z-index: 2;
}

#open{
    position: relative;
    top: 300px;
    left: 213px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:rgb(126,208,255);
}

#open:hover{
    background-color: white;
}

/* Adding a wrapper for the pokedex to make the appearance consistent with the case */
.pokedex-container{
    height: 720px;
    background-color: rgba(255,22,22,255);
    border-radius: 50px;
    position: absolute;
    border: 5px solid black;
}

/* Styling the pokedex id*/
#pokedex{
    width: 490px;
    height: 600px;
    background-color: rgba(196,240,248,255);
    margin: 0 auto;
    margin-top: 67.5px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: auto;

}

/* Styling the paragraph elements on the webpage */
p{
    text-align: center;
}

/* Editing the table that in essence makes up the entire pokedex */
table{
    width: 100%;
    background-color: rgba(196,240,248,255);
}

/* Editing the buttons that will represent the pokedex entries for each pokemon */
td button{
    width: 100%;
    height: 125px;
    border: 4px solid white;
    border-radius: 8px;

}

/* Setting the on-hover colour for the buttons that represents the pokemon*/
td button:hover{
    background-color: rgba(211, 211, 211, 0.5);
}

/* Editing the scrollbar of the pokedex to make it look a little bit more techy */
.main ::-webkit-scrollbar{
    width: 10px;
}

.main ::-webkit-scrollbar-track{
    background: lightblue;
}

.main ::-webkit-scrollbar-thumb{
    background: lightgray;
}

/* Centering the input field */
input{
    margin: 0 auto;
    display: block;
    font-family: "Fira Sans";
}

/* Setting the attributes for the sprite that appears on each button */
#buttonSprite{
    width: 70px;
    height: auto;
}

/* The national dex number for each pokemon is located in the top left of the button */
#banner{
    text-align: left;
    padding: 5px 0;
    position: relative;
    top: -10px;
    color: white;
    text-shadow: -1px 1px 0 black,
                  1px 1px 0 black,
                  1px -1px 0 black,
                  -1px -1px 0 black;
    font-family: "Fira Sans";
    font-weight: bold;
}

/* ============================================= WHO WE ARE, BTS, FOOTER SECTION ============================================================*/
#introductions, #bts, #footer{
    width: 100%;
    text-align: center;
    margin: 100px 0;
    background-image: url("Images/Pokeball\ Background.png");
    color: white;
    overflow-y: auto;
}

#introductions{
    height: 600px;
}


#introductions h1, #bts h1{
    font-size: 64px;
    padding: 15px;
    color: yellow;
}

#introductions p{
    text-align: left;
    padding-top: 45px;
    width: 50%;
    padding-left: 15%;
    font-size: 20px;
}


#introductions a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#introductions a:hover{
    text-decoration: underline;
}

#bts p{
    padding-top: 45px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    padding-bottom: 100px;
}


#footer{
    margin-bottom: 0px;
    background-image: none;
    color: black;
    font-weight: bold;
    padding-bottom: 15px;
}

#footer p{
    padding-left: 15px;
    padding-right: 15px;
}

#footer a{
    color: black;
}
/* ============================================= MENU SPECIFIC TO EACH POKEMON ================================================ */
#back{
    border: 4px solid white;
    width: 70px;
    height: 40px;
    margin-left: 15px;
    border-radius: 8px;
    top: 0;
}

#back:hover{
    background-color: rgba(211, 211, 211, 0.5);
}


#specific_pokemon{
    display: none;
}


#pokemon-info, #base-stats{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
}

#sprite {
    width: 200px;
    height: 200px;
}

#spriteImage {
    width: 100%;
    height: auto;
}

/* Setting the styling for the typing */
#type1, #type2{
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    margin-right: 4px;
    color: white;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

/* Setting the styling for the labels on the page */
#typingLabel, #abilitiesLabel, #heightLabel, #weightLabel, #regionLabel, #pokedex-number{
    text-align: right;
    font-weight: bold;
}

/* Setting the styling for the abilities */
#ability1, #ability2{
    margin: 0;
}

/* Setting the styling for everything related to the base stats/base stat total*/
#label, #value-hp, #value-attack, #value-defense, #value-special-attack, #value-special-defense, #value-speed,
#health-bar, #attack-bar, #defense-bar, #special-attack-bar, #special-defense-bar, #speed-bar, #value-total {
    display: inline-block;
}

#value-total{
    font-weight: bold;
}

#label{
    width: 30%;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 15px;
}

#value-hp, #value-attack, #value-defense, #value-special-attack, #value-special-defense, #value-speed {
    width: 10px;
    padding-right: 15px;
}

#health-bar, #attack-bar, #defense-bar, #special-attack-bar, #special-defense-bar, #speed-bar{
    width: 55%;
}

#health-bar-diagram, #attack-bar-diagram, #defense-bar-diagram, #special-attack-bar-diagram, #special-defense-bar-diagram, #speed-bar-diagram {
    border-radius: 4px;
}
